<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% style %}

    {{ settings.heading_1 | font_face: font_display: 'swap' }}
    {{ settings.heading_2 | font_face: font_display: 'swap' }}
    {{ settings.heading_3 | font_face: font_display: 'swap' }}
    {{ settings.heading_4 | font_face: font_display: 'swap' }}
    {{ settings.heading_5 | font_face: font_display: 'swap' }}
    {{ settings.heading_6 | font_face: font_display: 'swap' }}

    {{ settings.button | font_face: font_display: 'swap' }}
    {{ settings.text | font_face: font_display: 'swap' }}
    {{ settings.link | font_face: font_display: 'swap' }}

    {% endstyle %}

    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'normalize.css' | asset_url }}">

    {{ content_for_header }}
  </head>
  <body>
    {% section "header" %}

    {{ content_for_layout }}

    {% section "footer" %}
  </body>
</html>