{% schema %}
  {
    "name": "Hero Block",

    "class": "hero section",
    "templates": ["index"],
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title_line_1",
        "label": "Title. First Line"
      },
      {
        "type": "text",
        "id": "title_line_2",
        "label": "Title. Second Line"
      },
      {
        "type": "text",
        "id": "title_line_3",
        "label": "Title. Third Line"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "page",
        "id": "button_page",
        "label": "Button Url"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}

<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}">

<div class="hero__container section__container hero__container--home" data-scroll>
  <div class="hero__wrapper section__wrapper section__wrapper--column">
    <div class="hero__top">
      <h1 class="heading-1 section__title">
        <span>{{ section.settings.title_line_1 }}</span>
        <span class="accent">{{ section.settings.title_line_2 }}</span>
        <span>{{ section.settings.title_line_3 }}</span>
      </h1>
      <div class="hero__button">
        {% render 'button-main-big', text: section.settings.button_text, url: section.settings.button_page %}
      </div>
    </div>
    <div class="hero__bottom">
      {% if section.settings.image %}
        {{ section.settings.image | image_url: width: 3214 | image_tag }}
      {% endif %}
    </div>
  </div>
</div>