{% schema %}
  {
    "name": "Hero Block",
    "tag": "section",
    "class": "hero",
    "templates": ["index"],
    "settings": [
      {
        "type": "text",
        "id": "title_line_1",
        "label": "Title. First Line"
      },
      {
        "type": "text",
        "id": "title_line_2",
        "label": "Title. Second Line"
      },
      {
        "type": "text",
        "id": "title_line_3",
        "label": "Title. Third Line"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "page",
        "id": "button_page",
        "label": "Button Url"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}

{% capture button_data %}
text : {{ section.settings.button_text }}, page : {{ section.settings.button_page }}
{% endcapture %}

{% assign button_data = button_data | split : ',' %}

<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}">

<section class="hero section">
  <div class="hero__container section__container hero__container--home">
    <div class="hero__wrapper section__wrapper section__wrapper--column">
      <div class="hero__top">
        <h1 class="heading-1 section__title">
          <span>{{ section.settings.title_line_1 }}</span>
          <span class="accent">{{ section.settings.title_line_2 }}</span>
          <span>{{ section.settings.title_line_3 }}</span>
        </h1>
        <div class="hero__button">
          {% render "button-main-big" with button_data %}
        </div>
        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="416" height="416" viewBox="0 0 416 416" fill="none">
          <path d="M13.5008 102.615C-15.6321 156.271 4.21179 223.365 57.9106 252.521C28.7776 306.177 48.6922 373.31 102.391 402.466C156.09 431.622 223.238 411.761 252.371 358.105C306.07 387.261 373.289 367.438 402.422 313.782C431.555 260.125 411.332 192.825 357.633 163.669C386.766 110.013 367.019 42.5719 313.32 13.4158C259.621 -15.7402 192.614 4.59709 163.481 58.2533C109.782 29.0972 42.6337 48.9585 13.5008 102.615Z" fill="#D9797A"/>
          </svg> {% endcomment %}
      </div>
      <div class="hero__bottom">
        {% if section.settings.image %}
        {{ section.settings.image | image_url: width: 3214 | image_tag }}
        {% endif %}
      </div>
    </div>
  </div>
</section>